form {
    width: 300px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
   
  }


  .form-box {
    width: 100%;
    display: flex;
    justify-content: center;
  }


  button, label {
    margin-top: 10px;
  }

  .btn {
    background-color: green;
    color: white;
  }